body {
  font-family: Arial, sans-serif;
  background: #78caee;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("pexels-enginakyurt-1435752.jpg");
}

.container {
  background: #091418;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  background: #67b3c8;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #00a846;
}

input {
  width: 93.20%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

